---
import "../assets/css/style.scss";
import Nav from "../components/nav.astro";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Ayodeji Bamidele's site",
  description = "DevOps Engineer 👨🏾‍💻, specializing in Cloud Infrastructure.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preconnect"
      href="https://www.googletagmanager.com"
      crossorigin
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="HTML,CSS,JavaScript, React, Node, SASS, Redux, PHP, Laravel, GraphQL, Express, GCP, Firebase, GTM"
    />
    <meta name="author" content="Ayodeji Bamidele" />
    <meta name="generator" content={Astro.generator} />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="apple-touch-icon" href="/apple-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="/manifest.json" />
    <title>{title}</title>
  </head>

  <body>
    <Nav />
    <slot />
    <a
      href="mailto:bamideledeji001@gmail.com&subject=Hey%20Ayodeji"
      class="email">bamideledeji001@gmail.com</a
    >
    <footer class="center">&copy; 2026, A.B.</footer>
    <script>
      import "../assets/js/main.js";
    </script>
  </body>
</html>
